<h2 style="font-size:10w; text-align: center;">Edit Data</h2>
<div class="card">
  <div class="card-body">
    <form [formGroup]="angForm" novalidate>
      <div class="form-group">
        <label class="col-md-4">Customer Name</label>
        <input type="text" class="form-control" name="c_name" formControlName="c_name" #c_name [(ngModel)] = "customer.c_name"/>
      </div>
      <div *ngIf="angForm.controls['c_name'].invalid && (angForm.controls['c_name'].dirty || angForm.controls['c_name'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['c_name'].errors.required">
          Customer Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Email-id</label>
        <input type="text" class="form-control" name="c_emailid" formControlName="c_emailid" #c_emailid [(ngModel)] = "customer.c_emailid"/>
      </div>
      <div *ngIf="angForm.controls['c_emailid'].invalid && (angForm.controls['c_emailid'].dirty || angForm.controls['c_emailid'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['c_emailid'].errors.required">
          Email-id is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Address</label>
        <input type="text" class="form-control" name="c_address" formControlName="c_address" #c_address [(ngModel)] = "customer.c_address"/>
      </div>
      <div *ngIf="angForm.controls['c_address'].invalid && (angForm.controls['c_address'].dirty || angForm.controls['c_address'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['c_address'].errors.required">
          Address is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Occupation</label>
        <input type="text" class="form-control" name="occupation" formControlName="occupation" #occupation [(ngModel)] = "customer.occupation"/>
      </div>
      <div *ngIf="angForm.controls['occupation'].invalid && (angForm.controls['occupation'].dirty || angForm.controls['occupation'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['occupation'].errors.required">
          Occupation is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Mobile No.</label>
        <input type="number" class="form-control" name="c_mobileno" formControlName="c_mobileno" #c_mobileno [(ngModel)] = "customer.c_mobileno"/>
      </div>
      <div *ngIf="angForm.controls['c_mobileno'].invalid && (angForm.controls['c_mobileno'].dirty || angForm.controls['c_mobileno'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['c_mobileno'].errors.required">
          Mobile No. is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Adults</label>
        <input type="number" class="form-control" name="numbers_of_adult" formControlName="numbers_of_adult" #numbers_of_adult [(ngModel)] = "customer.numbers_of_adult"/>
      </div>
      <div *ngIf="angForm.controls['numbers_of_adult'].invalid && (angForm.controls['numbers_of_adult'].dirty || angForm.controls['numbers_of_adult'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['numbers_of_adult'].errors.required">
          Atleast one adult is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Child</label>
        <input type="number" class="form-control" name="numbers_of_child" formControlName="numbers_of_child" #numbers_of_child [(ngModel)] = "customer.numbers_of_child">
      </div>
      
      <div class="form-group">
        <label class="col-md-4">Room No.</label>
        <input type="number" class="form-control" name="room_no" formControlName="room_no" #room_no [(ngModel)] = "customer.room_no"/>
      </div>
      <div *ngIf="angForm.controls['room_no'].invalid && (angForm.controls['room_no'].dirty || angForm.controls['room_no'].touched)" class="alert alert-danger">
        <div *ngIf="angForm.controls['room_no'].errors.required">
          Enter the room no.
        </div>
      </div>
      <div class="form-group">
        <button (click)="updateCustomerData (c_name.value,c_emailid.value,c_address.value,occupation.value,c_mobileno.value,numbers_of_adult.value,numbers_of_child.value,room_no.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Update Customer Data</button>
      </div>
    </form>
  </div>
</div>    